venv/
venv_mps/
env/
node_modules/
.next/
backend/uploads/
.env.local
.env
data/
res/
final_res/
output/
hf_cache/
wandb/
models_cache/
**/.ipynb_checkpoints/
**/__pycache__
**/.vscode

test_output/
*.DS_Store
.DS_Store
